[project]
[access "refs/*"]
	owner = group Administrators
[access "refs/for/refs/*"]
	push = group android_tools-owners
	create = group android_tools-owners
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group android_tools-owners
	label-Commit-Ready = -1..+1 group android_tools-owners
	submit = group android_tools-owners
	label-Verified = -1..+1 group android_tools-owners
[submit]
	action = cherry pick
