[project]
	state = active
[access "refs/*"]
	owner = group Administrators
	read = group gob-replication
[access "refs/for/refs/*"]
	push = group android_tools-owners
[access "refs/heads/*"]
	create = group android_tools-owners
	label-Code-Review = -2..+2 group android_tools-owners
	label-Commit-Ready = -1..+1 group android_tools-owners
	submit = group android_tools-owners
