[project]
[access "refs/*"]
	owner = group Administrators
	owner = group android_tools-owners
[access "refs/for/refs/*"]
	push = group android_tools-owners
	create = group android_tools-owners
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group android_tools-owners
	label-Commit-Ready = -1..+1 group android_tools-owners
	submit = group android_tools-owners
	label-Verified = -1..+1 group android_tools-owners
	create = group android_tools-owners
	push = group android_tools-owners
[submit]
	action = cherry pick
[access "refs/branch-heads/*"]
	create = group android_tools-owners
	forgeAuthor = group android_tools-owners
	forgeCommitter = group android_tools-owners
	push = group android_tools-owners
	pushMerge = group android_tools-owners
	label-Code-Review = -2..+2 group android_tools-owners
	label-Verified = -1..+1 group android_tools-owners
	submit = group android_tools-owners
[access "refs/heads/2454"]
	push = group mdb/chrome-git-admins
